<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Node JS</title>
  <style>
  html { height: 100%; }
  body { height: 100%; margin: 0; padding: 0; }
  .__body__ { padding: 120px 340px 40px 340px; height:100%; background-color:#f0f0f0; overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */ }
  
  /* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 변경 */
  @media (max-width: 768px) {
      .__body__ {
          padding: 80px 20px; /* 작은 화면에서 패딩 조정 */
      }
  }
  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }
  .none {
      display:none;
  }
  .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }
  h1 {
      text-align: center;
      margin-bottom: 20px;
  }
  label {
      display: block;
      margin-top: 10px;
  }
  .checkbox-group {
      margin-bottom: 20px;
  }
  .checkbox-group label {
      display: inline-block;
      margin-right: 10px;
  }
  textarea {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
  }
  button:hover {
      background-color: #0056b3;
  }
  </style>
</head>
<body>
  <div class="__header__"></div>
  <div class="__body__">
    <div class="container">
    <h3>신고하실 내용을 입력하라.</h3>
    <form action="/report_process" method="post">
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="report_reason" value="spam">
                스팸
            </label><br>
            <label>
                <input type="checkbox" name="report_reason" value="abuse">
                버그 악용
            </label><br>
            <label>
                <input type="checkbox" name="report_reason" value="other">
                기타
            </label><br>
        </div>
        <label for="report_details">신고 내용</label>
        <textarea id="report_details" name="report_details" required></textarea>
        <button type="submit">접수</button>
    </form>
    </div>
  </div>
</body>
<script>
  fetch("/header")
    .then(response => response.text())
    .then(data => document.querySelector(".__header__").innerHTML = data);
</script>
</html>
